*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{

--dark1:#0D1321;
--dark2:rgba(13, 19, 33, 0.7);

}


/* shared design */


html{
  font-size: 10px;
}

body{
    font-family: "Nunito", sans-serif;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
}

img{
  max-width: 100%;
  height: auto;
}


.d-flex{
  display: flex;
}

.btn{
  padding: 15px 24px;
  border: 1px solid #0D1321;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  max-width: max-content;
}

.p-temp{
line-height: 26px;
font-size: 1.6rem;
color: #434346;
}

.m-center{
  margin: 0 auto;

}

.f-column{
  flex-direction: column;
  gap: 20px;
}


/* individual desing */
.navigation{
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.navigation h2{
  font-size: 2.8rem;
  font-weight: 800;
}



/* hero banner area */

.banner_area{
  padding: 25px 0 40px;
  background-image: url(./assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_main_container{

  text-align: center;

max-width: 700px;
width: 100%;
margin: 0 auto;
}

.banner_main_container .btn{
  background-color: #0D1321;
  color: #fff;
  
}

.banner_main_container h2{
  font-size: 4.8rem;
  color: var(--dark1);
  font-weight: 800;
}

.banner_main_container .p-temp{
  text-transform: capitalize;
}
.banner_main_container .p-temp span{
  display: block;
}

/* cause area design */
.causes_area_section{
  padding: 80px 0;
}
.cause_area_main{
  padding: 80px 97px;
  background-color:rgba(13, 19, 33, 0.02);
  border-radius: 16px;
}
  


.causes_area_info{
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.causes_area_info h3{
  font-size:3.2rem ;
  font-weight: 800;
  color: var(--dark1);
}

.cause_area{
  align-items: center;
  max-width: 900px;
justify-content: space-between;
padding: 48px;
border-radius: 16px;
background: linear-gradient(to right,#fff,rgb(250,250,250));
margin-bottom: 30px;
width: 100%;

}

.cause_area:nth-child(3){
  flex-direction: row-reverse;

  background: linear-gradient(to left,#fff,rgba(250,250, 250));

}

.cause_info{
  max-width: 380px;
  width: 98%;
  color: rgba(13, 19, 33, 0.7);
}
.cause_area .cause_img{
  max-width: 275px;
  width: 100%;
}


.cause_info h4{
  font-size:2.4rem ;
  font-weight: bold;
  
}

.cause_info .btn{
  border-radius:0;
  color: rgba(13, 19, 33, 0.562);
  border: 1px solid rgba(13, 19, 33, 0.562);
  padding: 12px 20px;
}


/* inspiration_area */

.inspiration_info{
  max-width: 800px;
  width: 100%;
text-align: center;
}

.inspiration_info h4{
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--dark1);
}

/* learnt aspect ration that was awesome and its works fantastic now If i control iframe I have to use aspect ration which is responsive friendly */
.inspiration_video_area{
  margin-top: 50px;
  padding: 30px;
  border: 2px solid  rgba(13, 19, 33, 0.068);
  border-radius: 16px;
  aspect-ratio: 16/9;

}

.inspiration_video_area iframe{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}


/* target area design */

.target_area{
  padding: 100px 0 50px;
}

.target_area a{
  color: var(--dark1);
  font-size: 1.6rem;
  font-weight: bold;
  
}


.target_info,.next_target_info{
  max-width: 700px;
  width: 100%;
  text-align: center;
}

.target_info h4,.next_target_info h4{
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 18px;
}


.target_cards_main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
  padding: 25px;

}

.target_card{
    padding: 40px;
  border-radius: 16px;

}

.target_card img{
  width: 56px;
  height: 56px;
}

.target_card h6,.next_target h6{
  font-size: 2.4rem;
  font-weight: 800;
  color: var(--dark1);
}

.target_card:nth-child(1){
  background-color: rgba(255, 76, 30, 0.05);
}

.target_card:nth-child(2){
  background-color: rgba(0, 76, 232, 0.05);
}

.target_card:nth-child(3){
 background-color: rgba(255, 223, 0, 0.05);
}



.next_target{
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background-color:#fff;
  padding: 40px;
  gap: 24px;
 margin: 20px 0;
}






/* responsive area */

@media screen and (max-width:576px){

  .container{
    width: 97%;
  }

  .navigation,.cause_area,.cause_area:nth-child(3){
    flex-direction: column;
    gap: 30px;
  }

 

  .banner_main_container{
    padding: 10px;
  }

  .banner_main_container h2{
    font-size: 3rem;
  }


  .cause_area_main{
  padding: 40px 15px;
  text-align: center;
}

.cause_area{
  background: none;

}

.causes_area_info{
  padding: 10px;
  width: 100%;
  text-align: center;
}
  
}

