*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{

--dark1:#0D1321;
--dark2:rgba(13, 19, 33, 0.7);

}


/* shared design */


html{
  font-size: 10px;
}

body{
    font-family: "Nunito", sans-serif;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
}

img{
  max-width: 100%;
  height: auto;
}


.d-flex{
  display: flex;
}

.btn{
  padding: 15px 24px;
  border: 1px solid #0D1321;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.p-temp{
line-height: 26px;
font-size: 1.6rem;
}


.navigation{
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.navigation h2{
  font-size: 2.8rem;
  font-weight: 800;
}



/* hero banner area */

.banner_area{
  padding: 25px 0 40px;
  background-image: url(./assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_main_container{
  flex-direction: column;
  gap: 20px;
  text-align: center;

max-width: 700px;
margin: 0 auto;
}

.banner_main_container .btn{
  background-color: #0D1321;
  color: #fff;
  
}

.banner_main_container h2{
  font-size: 4.8rem;
  color: var(--dark1);
  font-weight: 800;
}

.banner_main_container .p-temp{
  text-transform: capitalize;
}
.banner_main_container .p-temp span{
  display: block;
}


  


