*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{

--dark1:#0D1321;
--dark2:rgba(13, 19, 33, 0.7);

}


/* shared design */


html{
  font-size: 10px;
}

body{
    font-family: "Nunito", sans-serif;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
}

img{
  max-width: 100%;
  height: auto;
}


.d-flex{
  display: flex;
}

.btn{
  padding: 15px 24px;
  border: 1px solid #0D1321;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  max-width: max-content;
}

.p-temp{
line-height: 26px;
font-size: 1.6rem;
color: #434346;
}

.m-center{
  margin: 0 auto;

}

.f-column{
  flex-direction: column;
  gap: 20px;
}


/* individual desing */
.navigation{
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.navigation h2{
  font-size: 2.8rem;
  font-weight: 800;
}



/* hero banner area */

.banner_area{
  padding: 25px 0 40px;
  background-image: url(./assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_main_container{

  text-align: center;

max-width: 700px;
width: 100%;
margin: 0 auto;
}

.banner_main_container .btn{
  background-color: #0D1321;
  color: #fff;
  
}

.banner_main_container h2{
  font-size: 4.8rem;
  color: var(--dark1);
  font-weight: 800;
}

.banner_main_container .p-temp{
  text-transform: capitalize;
}
.banner_main_container .p-temp span{
  display: block;
}

/* cause area design */
.causes_area_section{
  padding: 80px 0;
}
.cause_area_main{
  padding: 80px 97px;
  background-color:rgba(13, 19, 33, 0.02);
  border-radius: 16px;
  border: 1px solid red;
}
  


.causes_area_info{
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.causes_area_info h3{
  font-size:3.2rem ;
  font-weight: 800;
  color: var(--dark1);
}

.cause_area{
  align-items: center;
  max-width: 900px;
justify-content: space-between;
padding: 48px;
border-radius: 16px;
background: linear-gradient(to right,#fff,rgb(250,250,250));
margin-bottom: 30px;

}

.cause_area:nth-child(3){
  flex-direction: row-reverse;

  background: linear-gradient(to left,#fff,rgba(250,250, 250));

}

.cause_info{
  max-width: 380px;
  width: 95%;
  color: rgba(13, 19, 33, 0.7);
}
.cause_area .cause_img{
  max-width: 275px;
  width: 100%;
}


.cause_info h4{
  font-size:2.4rem ;
  font-weight: bold;
  
}

.cause_info .btn{
  border-radius:0;
  color: rgba(13, 19, 33, 0.562);
  border: 1px solid rgba(13, 19, 33, 0.562);
  padding: 12px 20px;
}

/* responsive area */

@media screen and (max-width:576px){

  .container{
    width: 97%;
  }

  .navigation{
    flex-direction: column;
    gap: 30px;
  }

 

  .banner_main_container{
    padding: 10px;
  }

  .banner_main_container h2{
    font-size: 3rem;
  }
}